@model ejercicioASP.Models.Persona

@{
    ViewBag.Title = "Persona";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Id</h2>
<h2>@Model.Nombre</h2>
<h2>@Model.Edad</h2>
<h2>@Model.Genero</h2>

