@model EjercicioWebCandidatos.Models.Candidatos

@{
    ViewBag.Title = "Propuesta";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Nombre</h2>
<p>Aquí va la propuesta del candidato</p>

